form {
  margin: 0 auto;
  width: 600px;
  padding: 5px;
  border: 1px solid #dddddd;
  color: #777777;
}
body 
{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url(../images/vintage-concrete.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
* {box-sizing: border-box;
  
}


input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  
}

input[type=submit] {
  background-color: greenyellow;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
}
h1 {
  margin: 0 auto;
  width: 600px;
border: 1px;}
.div1 {
  float: left;
  width: 140px;
  height: 50px;
  background: #cccccc;
  color: white;
  text-align: center;
  margin-left: 375px;
  font-family: 'Georgia', Times, Times New Roman, serif;
 
 
}
.div2 {
  float: right;
  width: 200px;
  height: 50px;
  margin: 10px;
  text-align: center;
  margin-right: 370px;
  color: #777777;
      
}

.div3 {
  border: 1px solid #cccccc ;
  height: 50px;
  margin: 0 auto;
  background: #ffffff;
}
.form1 {
  background: white;
}





